
body {
    color:burlywood;
    background-image: url('/Content/img/bugTracker.jpg');
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-repeat: no-repeat;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

thead tr th {
    color: #0c0f3a;
    background-color: rgba(51, 102, 153, 100 );
    font-size: 15px;
}


tbody tr td {
    font-weight: bold;
}

tbody tr td {
    text-align: right;
}

    tbody tr td.left {
        text-align: left;
        white-space: nowrap;
    }

tbody tr {
    background-color: rgba(120, 161, 188, 0.4);
}

    tbody tr:hover {
        background-color: khaki;
        color: #003813;
    }
